{%- if pillar.get('galera',{}).get('enabled', False) %}
{%- from "galera/map.jinja" import galera with context %}
{%- set service = galera %}
{%- endif %}
[client]
host = localhost
user = debian-sys-maint
password = {{ service.maintenance_password }}
socket = /var/run/mysqld/mysqld.sock

[mysql_upgrade]
host = localhost
user = debian-sys-maint
password = {{ service.maintenance_password }}
socket = /var/run/mysqld/mysqld.sock
basedir = /usr
